// Reset //
body, ul, a, h1, h2, h3, h4, h5, h6{
	list-style: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6{
	font-family: "roboto", sans-serif;
}
// Constantes //
@blanc: #fff;
@beige: #F2F2F2;
@noir: #000;
@violet: #C564C7;
@orange: #F2AA6B;
@marronClair: #A66018;
@marronFonce: #402116;
@radius: 50%;
// Function //
.transition(@duree: 1s, @effet: ease, @type: all){
	-webkit-transition: @type @duree @effet;
	-moz-transition: @type @duree @effet;
	-ms-transition: @type @duree @effet;
	-o-transition: @type @duree @effet;
	transition: @type @duree @effet;
}
body{
	font-family: helvetica, sans-serif;
	margin-top: 70px;
	nav{ // Menu
		background: @beige;
		width: 100%;
		padding: 10px;
		position: fixed;
		top: 0; left: 0;
		z-index: 99999;
		text-align: center;
		overflow: hidden;
		font-family: "futura", sans-serif;
		ul{
			margin-left: 50px;
			img{ // Logo
				width: 50px;
			}
			li{
				display: inline-block;
				a{
					padding: 0 20px;
					color: @noir;
					text-transform: uppercase;
					.transition(.5s);
				}
				&:hover{
					a{
						color: @violet;
					}
				}
				&:nth-of-type(2), &:nth-of-type(5){
					border-left: 1px solid @noir;
				}
			}
		} // End ul
	} // End nav Menu
	section{
		&#accueil{
			article{
				div{
					figure{
						img{
							width: 100%;
						}
						figcaption{
							width: 50%;
							color: @blanc;
							position: absolute;
							top: 2%; left: 40%;
							h3{
							}
							p{
							}
						}
					}
				}
			}
		}
	} // End section
	footer{
		background: #333;
	} // End Footer
}
.prev, .next{
	background: url(../img/sprite.png) no-repeat 0 0;
	.sprite(0, 64px, 137px);
	.backPos(0, -32px);
}
.next{
	.backPos(-64px, -32px);
}
.pagination{

}
.sprite(@radius: 0, @largeur: 32px, @hauteur: 32px){
	width: @largeur;
	height: @hauteur;
	border-radius: @radius;
	text-indent: -100000px;
	overflow: hidden;
}
.backPos(@left: 0, @top: 0){
	background-position: @left @top;
}
